{"scanFolder":"D:\\Ebook\\eBook","nowScanFolder":"D:\\Ebook\\eBook","nowScanFolderIndex":26,"nowScanFolderModifyTime":1476264414304,"nowScanFile":"D:\\Ebook\\eBook\\黑客\\黑客攻防技术宝典-Web实战篇.pdf","nowScanFileIndex":0,"nowScanFileModifyTime":1442888781275,"utilStartScanTime":1476715459549,"duringTime":711693,"status":1}