{"scanFolder":"D:\\BaiduYunDownload","nowScanFolder":"D:\\BaiduYunDownload","nowScanFolderIndex":0,"nowScanFolderModifyTime":1474898094270,"nowScanFile":"D:\\BaiduYunDownload\\ZBrush\\ZBrush高阶雕刻艺术训练视频教程\\KaijuLarvae-Sculpting.mp4","nowScanFileIndex":0,"nowScanFileModifyTime":1471624104231,"utilStartScanTime":1476365362569,"duringTime":3899,"status":1}